language: go
sudo: false
go:
- 1.12.x
stages:
- test
- name: deploy
  if: branch IN (master, develop)
jobs:
  include:
  - stage: test
    services:
    - mongodb
    - redis-server
    install: true
    env:
    - AUTHONE_DATABASE_USER=travis
    - AUTHONE_DATABASE_PASSWORD=test
    - GO111MODULE=on
    before_script:
    - mongo auth-one --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'
    script:
    - go test ./... -coverprofile=coverage.out -covermode=atomic -p=1
    after_success:
    - bash <(curl -s https://codecov.io/bash)
  - stage: deploy
    services: docker
    install: true
    script:
    - docker run -it -e JENKINS_AUTH_TOKEN=$JENKINS_AUTH_TOKEN -e JENKINS_BUILD_TOKEN=$JENKINS_BUILD_TOKEN
      -e JENKINS_BUILD_PROJECT=$TRAVIS_REPO_SLUG -e JENKINS_BUILD_BRANCH=$TRAVIS_BRANCH
      p1hub/p1jenkinstrigger
notifications:
  email: false
  slack:
    secure: UViqMku6a56CQYktC7q5ewDbH6Q0IlnaDEgaPGIm8JNmuYAmskfT8o41erOFy5V5IMvvd+L7xYg9A/5wd/pxQ3Yela6KdzymXN49bR+ZfyESspL30nkff6hs1DRBdXaGKS0y47i7C5c1VwYJZAlj1l+e/NPOyXgXSSVZsrqlL2FQmuP5vza0ACTkXxAuJ+qn59P/r0825qTbC6ZM9v/z/vpG8zjLc3jyUMkm7VZ74aV6c4jqyi8C/fbRs2OeBwDsnjf/GM222tMYyAjzyu+l/9O4I4RDljcTsDl5QgH6FpTK4/09d7cyTcyceCCmze/9dlOww/ARCb6Tyrj2bcXd89n58sUM1CJooIIL1HzvhA9xHmSwNifkWifql95HnqEJbNfYe1MhJB3llt/cNIzQreiNCmWdNSBcFaYqpnHF8GXYbhEbNCwnBhTsOihSUWe5crEhBgOYqqqUrnOcLXVytvgQSluW+d/krH/ngPEIiScSG3pmzV+JX6Z85bb8XXXJZ8zTa14y6VD7w8zFg3jLhuCDCzov2rT0kJN+fwxCBn8OD57tVLqGoVdNSbvcfa2mLdeHGTiS/MDK4SAuIwfI0SvHML3e1lm6tgXLZeuI4Qk3nFRbKWEV3gwGlUax55PHuxEG8urnb/QgZD8K26/kc0tjzmmtWCeJY3LtaYmYa4I=
