<!DOCTYPE html>
<html>
<head><title></title></head>
<body>
<h1>Please select scopes</h1>
<form method="POST">
    <input type="hidden" name="challenge" value="{{index . "Challenge"}}">
    <table style="">
        {{ range $key, $value := index . "Scopes"}}
            <tr>
                <td><input type="checkbox" name="scope" value="{{ $value }}"> {{ $value }}</td>
            </tr>
        {{ end }}
    </table>
    <input type="submit" value="Accept">
    {{if .Error}}
        <p>{{index . "Error"}}</p>
    {{end}}
</form>
</body>
</html>

